<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <link rel="stylesheet" href="../styles/homePage.css">

    <script src="../scripts/homePage.js" type="text/javascript"></script>

    <!-- <meta name="NetsparkQuiltingResult" total-length="732" removed="0" rules-found="w2325,w2702" /> -->
</head>

<body>
    <center>
        <img class="image" src="../images/2Zhw (1).gif">
        <div id="details" class="divUserInputs">

            <input id="userName" class="userDetailsInputs" placeholder="Your Name" onkeypress="preventInsertNumbers()"
                onmouseout="enableSubmit()">
            <input id="userPassword" class="userDetailsInputs" type="password" placeholder="Your Password"
                onmouseout="enableSubmit()">
            <button id="ok" class="Submit" disabled onclick="showOptions()">Submit</button>

        </div>
    </center>
    <!-- <div id="divOptions" class="divOptions"></div> -->
</body>

</html>